*.apk
*.ap_
*.aab

*.dex

bin/
gen/
out/

.gradle/
build/

local.properties

.navigation/

*.iml
.idea/*

*.jks

.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
